form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin-top: -200px;

    background-color: white;
}

form h2 {
    color: #7978D9;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

form div p {
    color: #484848;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
}

form div input {

    font-size: 22px;
    width: 449px;
    height: 48px;

    border-radius: 5px;
    border: 1px solid #555;

}

form button {
    color: #FFF;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 449px;
    height: 48px;

    border: none;
    border-radius: 5px;
    background: #7978D9;
    cursor: pointer;
}