.container-page{
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-image: url("../../assets/background1.jpg") ;
    background-repeat: no-repeat;
}

.container-register {
    display: flex;
    justify-content: center;
    margin-top: 63px;
}   