.container-register {
    display: flex;
    justify-content: center;
}

.container-register form {
    width: 32rem;
    height: 48rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    border-radius: 0.5rem;

    background-color: white;
}

.container-register h2 {
    color: #7978D9;
    font-family: 'Rubik', sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-register p {
    margin: 5px 0;

    color: #484848;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-register input {

    color: #484848;
    font-family: 'Rubik', sans-serif;
    font-size: 1.37rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 28rem;
    height: 3.93rem;

    border-radius: 5px;
    border: 1px solid #555;
}

.container-button-register {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-button-register button {

    color: #FFF;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    width: 28rem;
    height: 2.06rem;
    margin-bottom: 8px;

    border: none;
    cursor: pointer;
    background-color: #7978D9;
}

.container-button a {

    text-decoration: none;
    cursor: pointer;

    color: #7B61FF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 0.87rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.error-register {
    color: red;
    margin-top: 0.3rem;
}

.sucess-register {
    color: rgb(4, 249, 4);
    margin-top: 0.3rem;
}

@media (max-height: 914px) {
    .container-register form {
        width: 32rem;
        height: 40rem;
        margin-top: 3rem;
    }
}